    /*----Sidebar/Header----*/

    header {
        grid-area: hd;
        display: inline-flex;
        flex-direction: column;
        background-color: #013220;
        padding: 5%;
        align-items: center;
        align-content: center;
    }

    #about-me {
        text-align: justify;
        margin: 5%;
        color: white;
        
    }

    #designed-by {
        text-align: center;
        margin: 5%;
        color: white;
        font-style: italic;
        font-size: 0.9em;
        width: auto;

    }

    nav {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin-top: 10%;
        margin-bottom: 10%;

    }

    il {
        list-style-type: none;
    }

    li {
        padding-top: 8%;
        padding-bottom: 8%;
        margin-top:10%;
        margin-bottom: 10%;
        align-self: center stretch;
        background-color:#011A11;
        text-align: center;

    }

    #my-portrait {
        width: 80%;
        padding: 2%;
        border-radius: 50%;
        margin-top: 10%;
        margin-bottom: 10%;

    }

    #linkedin {
        width: 20%;
        align-self: center stretch;
    }

@media(max-width:500px) {
    header {
        grid-area: hd;
        display: inline-flex;
        flex-direction: column;
        background-color: #013220;
        padding: 5%;
        align-items: center;
        align-content: center;
    }

    #about-me {
        text-align: justify;
        margin: 0%;
        color: white;
        
    }

    nav {
        width: 100%;
        padding: none;
    }

    il {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    li {
        margin: 5px;
        background-color:#011A11;
        text-align: center;
        flex-grow: 1;

    }
    #my-portrait {
        width: 100px;
        padding: 1%;
        border-radius: 50%;
        margin-top: 5%;
        margin-bottom: 5%;

    }
    #linkedin {
        display: none;
    }
}