@import url("header.css");
@import url("main.css");
@import url("footer.css");

    body {
        /*Font Details*/
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;

        /*Grid Details*/
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: auto;
        grid-template-areas: 
        "mn hd"
        "ft ft"
    }

    h1, h2, h3 {
        font-family: 'Gochi Hand', cursive;
        font-size: 2em;
        text-align: center;
        margin: 0%;
        color: black;
    }

    h1 {
        color: white;
    }

    h4 {
        font-family: 'Gochi Hand', cursive;
        font-size: 1em;
        text-align: end;
        margin: 0%;
    }

    h5 {
        font-family: 'Gochi Hand', cursive;
        font-size: 1em;
        text-align: start;
        margin: 0%;
    }
    p {
        text-align: justify;
        margin: 10%;
    }

    a:link, a:visited {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5 em;
        text-decoration: none;
        color: white;
        font-style: bold;
        align-self: center stretch;
    }


@media(max-width:500px) {

    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 50px;
        grid-template-areas: 
        "hd"
        "main"
        "ft"
    }
}
/*--Adding other stylesheet--*/

