
    body {
        /*Font Details*/
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;

        /*Grid Details*/
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: auto;
        grid-template-areas: 
        "mn hd"
        "ft ft"
    }

    h1, h2, h3 {
        font-family: 'Gochi Hand', cursive;
        font-size: 2em;
        text-align: center;
        margin: 0%;
        color: black;
    }

    h1 {
        color: white;
    }

    h4 {
        font-family: 'Gochi Hand', cursive;
        font-size: 1em;
        text-align: end;
        margin: 0%;
    }

    h5 {
        font-family: 'Gochi Hand', cursive;
        font-size: 1em;
        text-align: start;
        margin: 0%;
    }
    p {
        text-align: justify;
        margin: 10%;
    }

    a:link, a:visited {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5 em;
        text-decoration: none;
        color: white;
        font-style: bold;
        align-self: center stretch;
    }


    /*----Sidebar/Header----*/


    header {
        grid-area: hd;
        display: inline-flex;
        flex-direction: column;
        background-color: #013220;
        padding: 5%;
        align-items: center;
        align-content: center;
    }

    #about-me {
        text-align: justify;
        margin: 5%;
        color: white;
        
    }

    #designed-by {
        text-align: center;
        margin: 5%;
        color: white;
        font-style: italic;
        font-size: 0.9em;
        width: auto;

    }

    nav {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin-top: 10%;
        margin-bottom: 10%;

    }

    il {
        list-style-type: none;
    }

    li {
        padding-top: 8%;
        padding-bottom: 8%;
        margin-top:10%;
        margin-bottom: 10%;
        align-self: center stretch;
        background-color:#011A11;
        text-align: center;

    }


    footer{
        grid-area: ft;
        background-color:  #013220;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    /*-----Content----*/


    .main {
        grid-area: mn;
        align-items: center;
        align-content: center;
    }

    .blog-summary {
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        margin: 8%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .blog-post-details{
        display: inline-flex;
        flex-direction: column;
        width: 90%;
        place-self: center stretch;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 1.1em;
        
    }

    .short-description {
        text-align: center;
        margin: 0%;
    }

    button {
        margin: 3%;
        width: 25%;
        align-self: center;
        border-radius: 5%;
        border-color: #013220;
        background-color: #013220;
        font-family:'Open Sans', sans-serif;
    }
    /*----article----*/
    article {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    blockquote {
        font-size: 1.5em;
        font-style: italic;
    }

    #bottom-article {
        display: flex;
        flex-direction: row;
        vertical-align: middle;
    }

    #social-share {
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 5%;
    }
    .social-link {
        align-self: center;
    }

    .social-icon {
        width: 40px;
    }

    #author {
        display : flex ;
        flex-direction: column;
        padding: 5%;
    }

    #author-info {
        text-align: start;
    }

    #article-link {
        color: black;
        text-decoration: underline;
    }

    /*----Image Section-----*/

    img {
        width: 80%;
        padding: 10%;
        background-color: white;
        
    }

    #my-portrait {
        width: 80%;
        padding: 2%;
        border-radius: 50%;
        margin-top: 10%;
        margin-bottom: 10%;

    }

    #linkedin {
        width: 20%;
        align-self: center stretch;
    }

@media(max-width:500px) {

    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 50px;
        grid-template-areas: 
        "hd"
        "main"
        "ft"
    }
    header {
        grid-area: hd;
        display: inline-flex;
        flex-direction: column;
        background-color: #013220;
        padding: 5%;
        align-items: center;
        align-content: center;
    }

    #about-me {
        text-align: justify;
        margin: 0%;
        color: white;
        
    }

    nav {
        width: 100%;
        padding: none;
    }

    il {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    li {
        margin: 5px;
        background-color:#011A11;
        text-align: center;
        flex-grow: 1;

    }
    #my-portrait {
        width: 100px;
        padding: 1%;
        border-radius: 50%;
        margin-top: 5%;
        margin-bottom: 5%;

    }
    #linkedin {
        display: none;
    }
}